<!-- 
Author: Nurzatilimani binti Muhamad Ahwan
Matric No: 24200114
-->
        <label for="{{ field.id|default:field.name }}" class="col-sm-2 col-form-label">
        {{ field.label|default:'' }}
        {% if field.required %}<span class="text-danger">*</span>{% endif %}</label>
        <input
        type="{{ field.type|default:'text' }}"
        name="{{ field.name }}"
        id="{{ field.id|default:field.name }}"
        class="form-control"
        value="{{ field.value|default:'' }}"
        placeholder="{{ field.placeholder|default:'' }}"
        {% if field.required %}required{% endif %}
        {% if field.disabled %}disabled{% endif %}/>
