<!-- 
Author: Nurzatilimani binti Muhamad Ahwan
Matric No: 24200114
-->

{% if edit_id %}
  <input type="hidden" name="edit_id" value="{{ edit_id }}">
{% endif %}

<div class="input-group mb-3">
  {% if field.type == "select" %}
    {% include "components/select/select.html" with field=field %}
  {% elif field.type == "textarea" %}
    {% include "components/text-area/text-area.html" with field=field %}
  {% elif field.type == "file" %}
    {% include "components/file-input/file-input.html" with field=field %}
  {% elif field.type == "checkbox" %}
    {% include "components/input-checkbox/input-checkbox.html" with field=field %}
  {% else %}
    {% include "components/input/input.html" with field=field %}
  {% endif %}
</div>